<section id="about-me-page-professional" (deferLoad)="beingRendered()">
    <ng-container *ngIf="isBeingRendered">
      <h2 class="titles animate__animated animate__fadeInUp">I've done a lot of technical work.</h2>
      <p class="animate__animated animate__fadeInUp">This is what I've been doing lately.</p>
      <br/>
      <canvas baseChart
        chartType="radar"
        height="75vh"
        [datasets]="chartData"
        [options]="chartOptions"
        [labels]="chartLabels">
      </canvas>
    </ng-container>
</section>
