<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-landing-page>

  </app-landing-page>
  <app-contents-page>

  </app-contents-page>
  <app-about-me-page-hobby>

  </app-about-me-page-hobby>
  <app-about-me-page-professional>

  </app-about-me-page-professional>
  <app-work-exp-page>

  </app-work-exp-page>
  <app-education-page>

  </app-education-page>
  <app-showcase-page>
    <section id="showcase-page-1">
      <div class="showcase-container">
        <img class="showcase-gallery animate__animated animate__fadeInLeft" src="../../assets/csas1.gif"/>
        <div class="showcase-text">
          <h3 class="showcase-title">
            3D Street-art Simulator:
          </h3>
          <div class="showcase-description">
            I built a 3D game which runs in the browser using the three.js library.
            It supports multi-touch and can be used best on an android phone.
            In future, I plan to extend the game to be usable on iOS devices and make the game collaborative (ie. multiplayer).

            <div class="showcase-link">
              <a href="https://collaborative-street-art-sim.herokuapp.com/">
                See the game here.
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </app-showcase-page>
  <app-showcase-page>
    <section id="showcase-page-2">
      <div class="showcase-container">
        <img class="showcase-gallery animate__animated animate__fadeInLeft stopping-cue-gif" src="./assets/perfect.gif"/>
        <div class="showcase-text">
          <h3 class="showcase-title">
            Stopping Cues:
          </h3>
          <div class="showcase-description">
            We built a digitally-humane firefox extension, that combats the habits people form when using the infinite scroll.
            It displays a stopwatch that times how long you have been scrolling - it also randomly presents you with funny little messages that politely remind you to stop scrolling.
            <div class="showcase-link">
              <a href="https://addons.mozilla.org/en-US/firefox/addon/stoppingcues-alpha/">
                Try the extension here.
              </a>
            </div>
          </div>
      </div>
    </div>
  </section>
</app-showcase-page>
<app-showcase-page>
  <section id="showcase-page-3">
    <div class="showcase-container">
      <div class="showcase-gallery-collection animate__animated animate__fadeInLeft">
        <img class="showcase-page" src="../../assets/idhPage1.png"/>
        <div class="showcase-graphs">
          <img class="showcase-linechart" src="../../assets/idhPage8.png"/>
          <div class="showcase-whitespace"></div>
          <img class="showcase-piechart2" src="../../assets/bias_hashtags_count_piechart.png"/>
          <div class="showcase-whitespace"></div>
          <img class="showcase-piechart" src="../../assets/newspaper_sentiments_linechart.png"/>
        </div>
      </div>
      <div class="showcase-text">
        <h3 class="showcase-title">Brexit Twitter Crawler:</h3>
        <div class="showcase-description">We built a Twitter crawler, (a program that collects data from an API) to analyse the sentiment (reaction) of tweets of various UK newspaper publisher's followers - throughout the Brexit saga.

          <div class="showcase-link">
            <a href="https://github.com/NoHara42/nohara42.github.io/blob/dev/src/assets/BrexitTwitterCrawler_DigitalHumanitiesProject.pdf">
              See the paper here.
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-showcase-page>
<app-showcase-page>
  <section id="showcase-page-4">
    <div class="showcase-container">
      <img class="showcase-gallery animate__animated animate__fadeInLeft stopping-cue-gif" src="../../assets/thatOneMovie.gif"/>
      <div class="showcase-text">
        <h3 class="showcase-title">Semantic Movie Recommender:</h3>
        <div class="showcase-description">
          We built a web-app that prompts the user with a small dialogue, asking for the film the user is looking for. Following this, a semantic comparison is made between the user-input and aggregated descriptions of various movie DB APIs.
          <br/>
          <br/>
          After that, it returns the top 5 most semantically-similar films.

          <div class="showcase-link">
            <a href="https://nohara42.github.io/ThatOneMovie-Front-End/">
              See the web-app here.
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-showcase-page>
<app-contact-page>

</app-contact-page>
