#contact-page {
  background: radial-gradient(at 50% 0%, white, lightgrey);
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 100px 50px 100px 50px;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: inline-flex;
}

a {
  display: flex;
  align-content: center;
}

.contact-text {
  display: inline-grid;
  color: #013535;
  font-size: 2vw;
  font-weight: 400;
  align-content: center;
  height: 10vh;
}

.contact-title {
  color: #013535;
  font-size: 4vw;
  font-weight: 600;
  word-wrap: break-word;
  margin-right: 100px;
}

.contact-icon {
  width: 2vw;
  margin-right: 1rem;
  filter: invert(15%) sepia(58%) saturate(800%) hue-rotate(134deg)
    brightness(96%) contrast(104%);
}

.contact-links {
  justify-self: left;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1170px) {
}

@media only screen and (max-width: 1169px) {
  .contact-text {
    font-size: 3.5vw;
    font-weight: 100;
  }
  .contact-icon {
    width: 3.5vw;
  }
}
@media only screen and (max-width: 812px) {
  .contact-title {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 414px) {
  .contact-title {
    font-size: 6vw;
    margin-right: 25px;
  }

  .contact-text {
    font-size: 5vw;
  }
  .contact-icon {
    width: 5vw;
  }

  .contents-title {
    margin-right: 50px;
  }

}
