<section id="contact-page" (deferLoad)="beingRendered()">
  <div *ngIf="isBeingRendered" class="contact-container">
    <h1 class="contact-title animate__animated animate__tada">Contact me!</h1>
    <div class="contact-list animate__animated animate__slideInRight">
      <div class="contact-item">
        <a href="https://www.facebook.com/ned.ohara"
          ><img class="contact-icon" src="./assets/logo-facebook.svg"
        /></a>
        <a class="contact-links" href="https://www.facebook.com/ned.ohara"
          ><h1 class="contact-text">Facebook</h1></a>
      </div>
      <div class="contact-item">
        <a
          href="https://www.linkedin.com/in/ned-o-hara-b5840b127/"
          ><img class="contact-icon" src="./assets/logo-linkedin.svg"/></a>
        <a
          class="contact-links"
          href="https://www.linkedin.com/in/ned-o-hara-b5840b127/"
          ><h1 class="contact-text">LinkedIn</h1></a
        >
      </div>
      <div class="contact-item">
        <a
          ><img class="contact-icon animate__animated animate__tada" src="./assets/call-outline.svg"
        /></a>
        <a class="contact-links"
          ><h1 class="contact-text">
            +&#052;&#057;&#049;&#053;&#050;&#053;&#055;&#048;&#049;&#051;&#054;&#056;&#048;
          </h1></a
        >
      </div>
      <div class="contact-item">
        <a
          href="mailto:&#109;&#097;&#105;&#108;&#110;&#101;&#100;&#052;&#050;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
          ><img class="contact-icon" src="./assets/mail-outline.svg"
        /></a>
        <a
          class="contact-links"
          href="mailto:&#109;&#097;&#105;&#108;&#110;&#101;&#100;&#052;&#050;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
          ><h1 class="contact-text">
            &#109;&#097;&#105;&#108;&#110;&#101;&#100;&#052;&#050;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
          </h1></a
        >

      </div>
    </div>
  </div>
</section>
